
h1{
     background-color:pink;
     color: white;
     padding-top: 100px;
     margin-top: 100px;
     margin-bottom: 50px;
     margin-left: 50px;
     margin-right: 50px;
     border-width: 40px;
     border-style:solid;
     border-color:purple


}
p{
    background-color:yellow;
    
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 100px;
    padding-right: 100px;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    border-width: 40px;
    border-style:solid;
    border-color:purple   
}
